@import "tailwindcss";

@theme inline {
  --color-defy-red: #E31837;
  --color-defy-red-dark: #c01430;
}

body {
  background: #f9fafb;
  color: #111827;
  font-family: Arial, Helvetica, sans-serif;
}
